# === Bỏ qua các tệp và thư mục mặc định của RStudio ===
.Rproj.user/
.Rhistory
.RData
.Ruserdata
*.Rproj

# === Output của Quarto ===
bs_loan_quarto_output_files/
_output/
*.docx
*.pdf
*.html

# === Dữ liệu & file tạm ===
*.csv
*.sav

# === Giữ lại duy nhất file .bib trong thư mục source/ ===
source/*
source/**
!source/
!source/*.bib

# === Hình ảnh & thư mục cache ===
image/tmp/
image/pdf/
image/png/
.Rcache/
_cache/
__pycache__/

# === Thư mục backup ===
bak/

# === Ignore Word input mẫu nếu có ===
*.docx

# === Nếu dùng Python hoặc Jupyter thêm các dòng sau ===
*.ipynb
.ipynb_checkpoints/
